%h4 DhcpControl
.row
  .offset1
    %p
      ISC DHCP Managment Web UI.
    %ul
      %li
        DhcpControlDaemon use Java
      %li
        WebUI use Rails 3.1
        %ul
          %li
            REST API create/delete Hosts/Subnet/Server/Group
          %li
            quick REST API create/delete Host
          %li
            Ldap auth


%h4 Home Site:
.row
  .offset1
    =link_to 'github.com/alfss/dhcp-control', 'http://github.com/alfss/dhcp-control'

%h4 License:
.row
  .offset1.span10
    %br/
    Copyright (c) 2012 Sergey V. Kravchuk &lt;alfss.obsd@gmail.com&gt;
    %br/
    %br/
    Permission to use, copy, modify, and/or distribute this software for any
    %br/
    purpose with or without fee is hereby granted, provided that the above
    %br/
    copyright notice and this permission notice appear in all copies.
    %br/
    %br/
    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
    %br/
    WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
    %br/
    MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
    %br/
    ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
    %br/
    WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
    %br/
    ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
    %br/
    OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
    %br/
    %br/
= link_to 'Back Home', root_path, :class => "btn icon arrowleft"